In [1]:
import pandas as pd
 
# Creating Empty DataFrame and Storing it in variable df
df = pd.DataFrame()

In [2]:
import pandas as pd
 
# initialize list elements
data = [[10,20,30,40,50,60],[1,2,3,4,5,6],[2,3,4,5,6,7],[12,45,69,78,96,7],[18,26,94,76,43,20]]
 
# Create the pandas DataFrame with column name is provided explicitly
df = pd.DataFrame(data, columns=['Numbers','Numbers2','Numbers3','Numbers4','Numbers5','Numbers6'])

In [6]:
df

   Numbers  Numbers2  Numbers3  Numbers4  Numbers5  Numbers6
0       10        20        30        40        50        60
1        1         2         3         4         5         6
2        2         3         4         5         6         7
3       12        45        69        78        96         7
4       18        26        94        76        43        20

In [3]:
y= df[1:df.shape[0]]
X= df[0:df.shape[0]-1]

In [22]:
X

   Numbers  Numbers2  Numbers3  Numbers4  Numbers5  Numbers6
0       10        20        30        40        50        60
1        1         2         3         4         5         6
2        2         3         4         5         6         7
3       12        45        69        78        96         7

In [23]:
y

   Numbers  Numbers2  Numbers3  Numbers4  Numbers5  Numbers6
1        1         2         3         4         5         6
2        2         3         4         5         6         7
3       12        45        69        78        96         7
4       18        26        94        76        43        20

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.5)

In [5]:
print(y_train.shape,X_train.shape)

(2, 6) (2, 6)

In [43]:
from keras.models import Sequential
from keras.layers import Dense
input_layer = Dense(10, input_dim=6, activation='relu')
# Define the model
model = Sequential()
model.add(input_layer)
model.add(Dense(10, activation='relu'))
model.add(Dense(6, activation='sigmoid'))

# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32)

# Evaluate the model
score = model.evaluate(X_test, y_test, batch_size=32)
print("Test accuracy: ", score[1])

Epoch 1/10
1/1 [==============================] - 1s 625ms/step - loss: -170.0123 - accuracy: 0.0000e+00
Epoch 2/10
1/1 [==============================] - 0s 5ms/step - loss: -178.2440 - accuracy: 0.0000e+00
Epoch 3/10
1/1 [==============================] - 0s 8ms/step - loss: -186.5416 - accuracy: 0.0000e+00
Epoch 4/10
1/1 [==============================] - 0s 5ms/step - loss: -194.9061 - accuracy: 0.0000e+00
Epoch 5/10
1/1 [==============================] - 0s 5ms/step - loss: -203.3392 - accuracy: 0.0000e+00
Epoch 6/10
1/1 [==============================] - 0s 8ms/step - loss: -211.8433 - accuracy: 0.0000e+00
Epoch 7/10
1/1 [==============================] - 0s 5ms/step - loss: -220.4212 - accuracy: 0.0000e+00
Epoch 8/10
1/1 [==============================] - 0s 7ms/step - loss: -229.0761 - accuracy: 0.0000e+00
Epoch 9/10
1/1 [==============================] - 0s 5ms/step - loss: -237.8115 - accuracy: 0.0000e+00
Epoch 10/10
1/1 [==============================] - 0s 9ms/step - loss: -246.6319 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 128ms/step - loss: 0.3009 - accuracy: 1.0000
Test accuracy:  1.0